html, body {
    height: 100%; /* Ensure the body takes full height */
    display: flex; /* Apply Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;
    font-size: 16px; 
    
  }

 #p_3 {
    margin-bottom: 10vh;
 }
  
 #no-text {
    color: red;
    position: absolute;   
    cursor: pointer;
    transition: left 0.05s linear, top 0.05s linear;
  }


  